In [79]:
import seaborn as sn
import pandas as pd
import numpy as np

In [32]:
# Reading the dataset

path = "C:/Users/prudh/OneDrive/Desktop/PDS/FrailtyPrediction/DataRaw/Raw_data.csv"
data_raw = pd.read_csv(path)

In [33]:
#print first 5 rows

data_raw.head()

   Height(Inches)  Weight(Pounds)  Age  Grip Strength  Frailty
0            65.8             112   30             30        N
1            71.5             136   19             31        N
2            69.4             153   45             29        N
3            68.2             142   22             28        Y
4            67.8             144   29             24        Y

In [34]:
#data pre-processing, Null values checking


data_raw.isnull().sum()

Height(Inches)    0
Weight(Pounds)    0
Age               0
Grip Strength     0
Frailty           0
dtype: int64

In [35]:
# rename columns in dataframe

data_raw.set_axis(['Height', 'Weight', 'Age','Grip','Frailty'], axis='columns', inplace=True)
print(data_raw)

   Height  Weight  Age  Grip  Frailty
0    65.8     112   30    30        N
1    71.5     136   19    31        N
2    69.4     153   45    29        N
3    68.2     142   22    28        Y
4    67.8     144   29    24        Y
5    68.7     123   50    26        N
6    69.8     141   51    22        Y
7    70.1     136   23    20        Y
8    67.9     112   17    19        N
9    66.8     120   39    31        N

In [36]:
#convert Frailty to binary

from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder() 


data_raw['Frailty']=lb.fit_transform(data_raw['Frailty'])
data_raw.head()

   Height  Weight  Age  Grip  Frailty
0    65.8     112   30    30        0
1    71.5     136   19    31        0
2    69.4     153   45    29        0
3    68.2     142   22    28        1
4    67.8     144   29    24        1

In [37]:
# save the data into datacleaning folder

data_raw.to_csv('C:/Users/prudh/OneDrive/Desktop/PDS/FrailtyPrediction/DataCleaning/clean_data.csv')

In [38]:
data_raw.head()

   Height  Weight  Age  Grip  Frailty
0    65.8     112   30    30        0
1    71.5     136   19    31        0
2    69.4     153   45    29        0
3    68.2     142   22    28        1
4    67.8     144   29    24        1

In [64]:
# Split dataset into X and Y variables
X=data_raw.iloc[:,:-1]
y=data_raw.iloc[:,-1]

In [65]:
# print all the X variables
X

   Height  Weight  Age  Grip
0    65.8     112   30    30
1    71.5     136   19    31
2    69.4     153   45    29
3    68.2     142   22    28
4    67.8     144   29    24
5    68.7     123   50    26
6    69.8     141   51    22
7    70.1     136   23    20
8    67.9     112   17    19
9    66.8     120   39    31

In [66]:
#print Y variables
y

0    0
1    0
2    0
3    1
4    1
5    0
6    1
7    1
8    0
9    0
Name: Frailty, dtype: int32

In [70]:
#split train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state= 7)

In [87]:
from sklearn.linear_model import LogisticRegression

classifier=LogisticRegression()

In [88]:
lr_classifier=classifier.fit(X_train,y_train)

In [89]:
#prediction

y_pred=lr_classifier.predict(X_test)

In [90]:
#Classification Report

from sklearn.metrics import classification_report

In [107]:
Report = classification_report(y_pred,y_test)

C:\Users\prudh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\prudh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\prudh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [108]:
print(Report)

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       0.00      0.00      0.00         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2

In [112]:
with open('C:/Users/prudh/OneDrive/Desktop/PDS/FrailtyPrediction/Results/Report.txt', 'a') as fp:
    fp.write(Report)